.form {
    gap: 1rem;
    width: 25%;
    height: 65%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121e26;
    color: white;
    position: relative;
}

.title{
    color: #ffff;
    font-size: 2rem;
    background:none;
}

.text {
    background: none;
    font-size: 1rem;
    color: rgba(163,180,190,.6);
}


.divInput {
    background: none;
}

.input {
    background: rgba(163,180,190,.1);
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    color: #ffff;
}

.button {
    background: #00be7c;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    color: #ffff;
    width: 48%;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: #ffff;
    background: none;
}

.link:hover {
    color:#00be7c;
}

.divClose {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    align-items: center;
    display: flex;
    border-radius: 50%;
    background: none;
    border: 1px solid #a3b4be81;
    cursor: pointer;
}

.imagenUser {
    border-radius: 50%;
}

@media only screen and (max-width: 1600px){
    .form {
        gap: 1rem;
        width: 35%;
        height: 65%;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #121e26;
        color: white;
        position: relative;
    }

    .button {
        background: #00be7c;
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        color: #ffff;
        width: 50%;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1200px){
    /* .form {
        gap: 1rem;
        width: 35%;
        height: 50%;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #121e26;
        color: white;
        position: relative;
    } */

    .button {
        background: #00be7c;
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        color: #ffff;
        width: 55%;
        cursor: pointer;
    }
}

@media only screen and (max-width: 800px){
    .form {
        gap: 1rem;
        width: 50%;
        height: 65%;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #121e26;
        color: white;
        position: relative;
    }

    .button {
        background: #00be7c;
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        color: #ffff;
        width: 57%;
        cursor: pointer;
    }
}

@media only screen and (max-width: 500px){
    .form {
        gap: 1rem;
        width: 90%;
        height: 75%;
        border-radius: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #121e26;
        color: white;
        position: relative;
    }

    .button {
        background: #00be7c;
        border: none;
        border-radius: 10px;
        padding: 15px 30px;
        color: #ffff;
        width: 70%;
        cursor: pointer;
    }
}

