.container {
    gap: 1rem;
    width: 25%;
    height: 50%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121e26;
    color: white;
    position: relative;
}

.divClose {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
    align-items: center;
    display: flex;
    border-radius: 50%;
    background: none;
    border: 1px solid #a3b4be81;
    cursor: pointer;
}

@media only screen and (max-width: 500px){
    .container{
        width: 75%;
    }
}