.main {
    height: 100vh;
}

.divConteiner {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

@media only screen and (max-width: 1200px){
    .divConteiner {
        grid-template-columns: 0.75fr 3fr;
    }
}

@media only screen and (max-width: 800px){
    .divConteiner {
        grid-template-columns: 1fr 2.5fr;
    }
}