.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 25vh;
    background: #121e26;
    border-top: 1px solid #007c51;
    color: #ffff;
}

.divOne {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.list > li {
    list-style: none;
    padding: 5px 0px;
}

.icon {
    color: #ffff;
    width: 25px;
    height: 25px;
}

@media only screen and (max-width: 500px){
    .container{
        font-size: 14px;
    }
}