.iframe {
    width: 900px;
    height: 700px;
    border-radius: 20px;
    border: none;
    z-index: 100;
}

.containerIframe {
    /* width: 100%; */
    margin: 0px auto;
    padding: 5px 0px;
    background: none;
}

.containerInfo {
    /* width: 100%; */
    margin: 0px auto;
    color: #ffff;
    text-align: center;
    background: none;
}

.containerInfo > h2 {
    font-size: 2rem;
    background: none;
}

.footerAlien {
    position: absolute;
    bottom: 0;
    left: 5px;
}

@media only screen and (max-width: 1600px){
    .iframe {
        width: 800px;
        height: 550px;
    }
}


@media only screen and (max-width: 1200px){
    .iframe {
        width: 750px;
        height: 500px;
    }

    .footerAlien{
        display: none;
    }
}

@media only screen and (max-width: 800px){
    .iframe {
        width: 500px;
        height: 350px;
    }

    .footerAlien {
        display: none;
    }
}