
.iframe {
    width: 1000px;
    height: 750px;
    border-radius: 20px;
    border: none;
    /* z-index: 100; */
}

.containerIframe {
    width: 50%;
    margin: 0px auto;
    padding: 5px 0px;
    background: none;
}

.containerInfo {
    width: 50%;
    margin: 0px auto;
    color: #ffff;
    text-align: center;
    background: none;
}

.containerInfo > h2 {
    font-size: 2rem;
    background: none;
}

.footer {
    /* background-image: url('../../assets/footer.webp'); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    position: absolute;
    bottom: 0px;
    z-index: -10;
}

.footerAlien {
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 1600px){
    .iframe {
        width: 800px;
        height: 600px;
    }
}